/* CSS for the header section */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
}



/* CSS for the main section */
.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-decoration: none;
}

.main-btn {
  background-color: orange;
  color: white;
  padding: 12px 24px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.main-btn a {
  text-decoration: none;
  color: white;
  font-size: medium;
}



/* The CSS can be the same as for the "Sign Up" and "Sign In" modals */

.createBtn {
  display: block;
  background-color: rgb(39, 189, 39);
  color: white;
  padding: 14px 20px;
  margin: 10px auto;
  border: none;
  cursor: pointer;
  max-width: 30%;
  font-size: medium;
}

.createBtn:hover {
  opacity: 0.8;
}

textarea {
  display: block;
  width: 100%;
  height: 450px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.modal-content.create-post {
  width: 80%;
}
