/* CSS for the header section */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 10px;
}

h2 {
  color: rgba(0, 0, 0, 0.495);
}
.logo {
  font-family: "Montez", cursive;
  font-size: 26px;
  padding: 10px;
}
.main-logo {
  color: blue;
}

.subheading {
  font-family: "Ubuntu Mono", monospace;
  font-size: 15px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  width: 25%;
}

#signInBtn,
#signUpBtn {
  background-color: blue;
  color: white;
  border-radius: 5%;
  padding: 10px 20px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
}

/* CSS for the main section */
.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.main-btn {
  background-color: orange;
  color: white;
  padding: 12px 24px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  max-width: 100%; /* Could be more or less, depending on screen size */
}

hr {
  border: none;
  border-top: 2px solid #3333335c;
  width: 100%;
  margin: 0 auto 10px auto;
}

.modal-content label {
  font-size: 20px;
}

#signInModal p,
a {
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 2%;
  font-family: Arial, sans-serif; /* Change as needed */
  font-size: 16px; /* Change as needed */
}

.signUpBtn,
.signInBtn {
  background-color: rgb(39, 189, 39);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: large;
}

.signUpBtn:hover,
.signInBtn:hover {
  opacity: 0.8;
}

#signUpLink {
  color: blue;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The CSS can be the same as for the "Sign Up" and "Sign In" modals */

.createBtn {
  display: block;
  background-color: rgb(39, 189, 39);
  color: white;
  padding: 14px 20px;
  margin: 10px auto;
  border: none;
  cursor: pointer;
  max-width: 30%;
  font-size: medium;
}

.createBtn:hover {
  opacity: 0.8;
}

textarea {
  display: block;
  width: 100%;
  height: 450px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.modal-content.create-post {
  width: 80%;
}
