* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}

.post {
  clear: both;
  padding: 20px;
  margin-bottom: 20px;
}

.post-title {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
  color: black;
}

.post-header {
  margin-bottom: 20px;
  padding: 0 20px;
}

.post-author {
  float: left;
  font-size: 20px;
  font-weight: bold;
}

.edit-save-btn {
  float: right;
  font-size: large;
  background-color: red;
  padding: 10px;
  color: aliceblue;
  margin-bottom: 10px;
}

.post-text {
  clear: both;
  padding: 20px;
  font-size: large;
  line-height: 1.5;
}

.like-btn {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  margin: 4px 2px;
  cursor: pointer;
}

.like-btn:hover {
  background-color: #555;
}

.like-btn:active {
  background-color: #555;
  box-shadow: 5px #666;
  transform: translateY(4px);
  filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
}

.like-info {
  font-size: 15px;
  color: #333;
  margin-top: 2px;
  margin-bottom: 10px;
}

.comment-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 0 0;
  box-sizing: border-box;
}

.comment-btn {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  margin-bottom: 10px;
  cursor: pointer;
}

.comment-btn:hover {
  background-color: #555;
}

.comment-btn:active {
  background-color: #555;
  box-shadow: 5px #666;
  transform: translateY(4px);
  filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
}

.comments-section {
  background-color: rgba(168, 165, 165, 0.867);
  padding: 20px;
}

.comment {
  background-color: white;
  margin: 10px 0;
  padding: 12px;
}
